/*
body {
    //font-family: 'Source code pro', Calibri, serif;
    margin: 0px;
    padding: 0px;
}
nav {
    width: 100%;
    background-color: #424558;
}
nav ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
nav li {
    list-style-type: none;
    float: left;
}
nav a {
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #FFF;
}
menu-voir-projet:hover{
    border-top: 5px solid #e44d26;
    background-color: RGBa(228,77,38,0.15);
}
menu-ajout-projet:hover{
    border-top: 5px solid #0070bb;
    background-color: RGBa(000,112,192,0.15);
}
menu-savoir-plus:hover{
    border-top: 5px solid #f1dc4f;
    background-color: RGBa(241,211,79,0.15);
}
menu-profil:hover{
    border-top: 5px solid #BBB;
    background-color: RGBa(220,220,220,0.15);
}
nav li:hover a{
    padding: 15px 30px 20px 30px;
}
.table{
    display: table;
    margin: 0 auto;
}
*/

#profil-perso {
    position: absolute;
    top: 0;
    right: 20px;
    background: rgb(173, 216, 230);
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    min-width: 300px;
}

#profil-perso>* {
    margin: auto;
}

body {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 20% 80%;
    min-height: 100vh;
}

header {
    background-color: lightblue;
    padding: 10px;
}

main {
    padding: 20px;
}

#all {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.oneProject {
    border: 1px solid black;
    width: 300px;
    margin: 10px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

footer {
    position: absolute;
    bottom: 0;
}