/* ------------------------------------------------------------- */
/* ------------------------- ENSEMBLE -------------------------- */
/* ------------------------------------------------------------- */

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

/* ------------------------------------------------------------- */
/* -------------------------- HEADER --------------------------- */
/* ------------------------------------------------------------- */

header {
    background-color: lightblue;
    color: #FFF;
    position: fixed;
    float: left;
    width: 20%;
    height: 100%;
    overflow: hidden;
}

.title {
    max-width: 100%;
    margin: 10%;
}

header h1 {
    margin: 0px;
}

header h2 {
    max-width: 100%;
    margin: 10%;
}

nav li {
    text-decoration: none;
}

nav li::marker {
    unicode-bidi: isolate;
}

nav ul {
    margin: 10%;
    padding: 0px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    margin: 10%;
    color: #FFF;
}

/* ------------------------------------------------------------- */
/* --------------------------- MAIN ---------------------------- */
/* ------------------------------------------------------------- */

main {
    float: right;
    width: 80%;
}

/* ------------------------------------------------------------- */
/* -------------------------- FOOTER --------------------------- */
/* ------------------------------------------------------------- */

footer {
    background-color: lightgray;
    position: fixed;
    right: 0%;
    bottom: 0%;
    width: 80%;
    text-align: right;
}

footer p {
    margin: 10px;
    color: #FFF;
}
